.head{
    color:black;
    padding-top: 10px;
    font-size: 25px;
    }
    /* .head:hover{
        color: #333;
    } */
    .H1{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        color: black;
    }
    /* .H2{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        color: aliceblue;
    } */
    /* .H1:hover{
        color: #333;
    } */
    
    .card1{
        background-color: #6d5a5a;
        color: black;
        border: 2px solid #6d5a5a;
        box-shadow: 5px 5px 10px black;
        border-radius: 20px;
        text-align: center;
        margin: 20px;
    }
    
    .card1:hover{
        transform: translateY(7px);
        transition: 0.3s;
        background-color: bisque;
        color: rgb(12, 0, 0);
        
    }